<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
	<title></title>
</head>
<body>
	<center>
	<div class="center jumbotron">
		<h1>Vous êtes un Sims.</h1>
		<small>Vous allez vous en remettre ...</small>

		<hr class="my-4">
		<a class="btn btn-danger btn-lg" href='/' role="button">Retour à l'accueil</a>	
		</form>
	</div>
	</center>

</body>
</html>
