<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
	<title></title>
</head>
<body>
	<center>

		
		<div class="center jumbotron">
			<h1>You are logged!</h1>
			<a class="btn btn-primary btn-lg" href="/" role="button">Retour à l'accueil</a>
		</div>
	</center>


</body>
</html>